<template name="contactForm">
    <div class="contactForm-status"></div>
  {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail" }}
    <fieldset>
      {{> afQuickField name="name" placeholder="schemaLabel" label=false }}
      {{> afQuickField name="email" placeholder="schemaLabel" label=false }}
      {{> afQuickField name="subject" placeholder="schemaLabel" label=false}}
      {{> afQuickField name="message" placeholder="schemaLabel" rows=10 label=false }}
      {{> reCAPTCHA }}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button> <span class='contactForm__status'></span>
      </div>
    </fieldset>
  {{/autoForm}}
</template>
