#contactForm > fieldset {
  border: none;
}

.contactForm__status {
  margin-left: 12px;
  position: relative;
  top: 1px;
}

#contactForm .has-error > input,
#contactForm .has-error > textarea {
  border: solid 1px #DB5950;
  margin-bottom: 0px;
}

#contactForm .help-block {
  color: #DB5950;
  font-size: 12px;
}
.contactForm-status.success {
  background: #45C191;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  color: #fff;
}
.contactForm-status.error {
  background: #DB5950;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  color: #fff;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  margin: 42px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 50%;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
}
