<template name="contactForm">
    <div class="contactForm-status"></div>
  {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail" }}
    <fieldset>
      {{> afQuickField name="name"  label=true }}
      {{> afQuickField name="email"  label=true }}
      {{> afQuickField name="subject"  label=true}}
      {{> afQuickField name="message"  rows=10 label=true }}
      {{#if recaptchaKeyPreset}}
      {{> reCAPTCHA }}
      {{/if}}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button> <span class='contactForm__status'></span>
      </div>
    </fieldset>
  {{/autoForm}}
</template>
